
<div class="global--header">
  <div class="global--header--content">
    <div class="global--header--primary--btn" (click)="onBack()">
      <ion-icon class="global--header--arrow-left" name="arrow-back-outline"></ion-icon>
      <!-- <span class="global--header--primary--btn--title">{{ 'RETAKE' | translate }}</span> -->
    </div>
    <h1 class="global--header--title">{{ 'CROP' | translate}}</h1>
    <ocr-profile-header [isShowRight]="true"></ocr-profile-header>
  </div>
  <span class="global--header--bottom--border"></span>
</div>

<ion-content class="crop-img--main">
  <image-cropper
    (imageCropped)="imageCropped($event)"
    [maintainAspectRatio]="false"
    format="jpeg"
    output="base64"
    [imageURL]="capturedImage"
  ></image-cropper>
  <!-- <img class="crop-img--platform" style="margin-top: 30px;" [src]="croppedImage" alt=""> -->
</ion-content>

<ion-footer class="crop-img--footer" mode="md">
  <button class="crop-img--btn--continue" mat-flat-button color="primary" (click)="onContinue()"  >{{ 'CONTINUE' | translate }} </button>
  <app-ads-viewer></app-ads-viewer>
</ion-footer>
