.open-source--list { 
    padding: 10px;
    display: grid;
    gap: 12px;
	.open-source--item { 
        display: flex;
        align-items: center;
        gap: 10px;
		.open-source--img { 

		}

		.open-source--span { 

		}
	}
}