<ion-content>
  <div class="open-source--list">
    <div class="open-source--item">
      <img class="open-source--img" src="/assets/img/check.png" alt="">
      <span class="open-source--span">Library 1</span>
    </div>
    <div class="open-source--item">
      <img class="open-source--img" src="/assets/img/check.png" alt="">
      <span class="open-source--span">Library 1</span>
    </div>
    <div class="open-source--item">
      <img class="open-source--img" src="/assets/img/check.png" alt="">
      <span class="open-source--span">Library 1</span>
    </div>
  </div>
</ion-content>
