.popup-gift--main {
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  margin: 0 auto;
	.popup-gift--title {
    font-size: 22px;
    margin-bottom: 8px;
	}

	.popup-gift--img {
    width: 190px;
    margin-bottom: 30px;
	}

	.popup-gift--ocr--premium--txt {

	}

	.popup-gift--claim {
    width: 100%;
    margin-top: 30px;
	}
}
