 
.ocr-result--footer {
	// padding: 10px 0px;
	.ocr-result--tab--bar {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		// padding: 0px 45px;
		.ocr-result--tab--btn {
			display: grid;
			justify-items: center;
			gap: 3px;
			width: 100%;
			ion-icon {
				height: 23px;
				width: 23px;
				color: #999999;
			}
			.ocr-result--footer--text{
				font-size: 12px;
				color: #999999;
			}
		}
	}
}

.ocr-result--language--tools {
	display: flex;
    gap: 10px;
	.ocr-result--form--language--detected {

		mat-label {

		}

		input {

		}
	}

	.ocr-result--form--language--translated {

		mat-label {

		}

		mat-select {

			mat-option {

			}
		}
	}
}

.ocr-result--main {
  height: 100%;
	// display: grid;
	// gap: 40px;
	padding: 10px;
	.ocr-result--textarea{
		border: none;
		outline: none;
		padding: 0;
		margin: 0;
		resize: none;
		background-color: transparent;
		font: inherit;
		width: 100%;
	}
	.ocr-result--detected--language {

		span {

		}
	}

	.ocr-result--translated--language {
    margin-top: 40px;
		span {

		}
	}
}
