.history--list {

	.history--list--item {
        --background: #f5f8ff;
        margin: 10px;
        border-radius: 5px;
		ion-avatar {
            height: 50px;
            width: 50px;
			img {

			}
		}

		.history--item--content {
            margin: 20px 0px;
			.history--item--title {

			}

			.history--item--description {

			}
		}
	}
}

.history--action--delete--btn{
  display: grid;
  place-content: end;
  padding: 10px;
  ion-button{
    font-size: 15px;
  }
}


.history--card {
  width: 100%;
	img {

	}

	.history--card-content {

		.history--card-span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
		}
	}

	.history--action--delete--btn {

		ion-button {

		}
	}
}


