<ion-content>
  <ion-list class="history--list" lines="none">

    <!-- <ion-item button detail="true" class="history--list--item"
    *ngFor="let history of histories"
    (click)="onClickItem(history)">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" [src]="history.image" />
      </ion-avatar>
      <ion-label class="history--item--content">
        <h2 class="history--item--title">{{ history.text }}
        </h2>
        <p class="history--item--description">{{ history.date | date:'MMM dd, y' }}</p>
      </ion-label>
    </ion-item>
         -->


    <ion-item button *ngFor="let history of histories">

      <ion-card mode="ios" class="history--card">
        <!-- <img [src]="history.image"
          (click)="onClickItem(history)" /> -->

          <image-viewer
          (click)="onClickItem(history)"
          [imageUrl]="history.image"
          [isViewImage]="true"></image-viewer>

        <ion-card-content class="history--card-content" (click)="onClickItem(history)">
          <span  class="history--card-span">{{ history.text }}</span>
        </ion-card-content>
        <div class="history--action--delete--btn">
          <ion-button fill="clear" color="danger" (click)="onDelete(history.captureId)">Delete</ion-button>
        </div>
      </ion-card>

    </ion-item>


  </ion-list>

</ion-content>
<ion-footer>
  <app-ads-viewer></app-ads-viewer>
</ion-footer>
