<ion-content>
  <ion-list class="history--list" >


    <ion-item button lines="none" [detail]="false" *ngFor="let history of histories">

      <ion-card mode="ios" class="history--card">
          <image-viewer
          (click)="onClickItem(history)"
          [imageUrl]="history.image"
          [isViewImage]="true"></image-viewer>

        <ion-card-content class="history--card-content" (click)="onClickItem(history)">
          <span  class="history--card-span">{{ history.text }}</span>
        </ion-card-content>
        <div class="history--action--delete--btn">
          <ion-button fill="clear" color="danger" (click)="onDelete(history.captureId)">Delete</ion-button>
        </div>
      </ion-card>

    </ion-item>


  </ion-list>

</ion-content>

<div class="global--no-data-center" *ngIf="isShowNoData && histories.length <= 0">
  <h1 class="global--no-data-center-h1">Data Not Found</h1>
  <p class="global--no-data-center-p">Oops! It looks like there's no data available at the moment. </p>
</div>

<ion-footer>
  <app-ads-viewer></app-ads-viewer>
</ion-footer>
